@{
    ViewData["Title"] = "Accueil";
}
@model List<NetStandardClassLibrary.Models.MovieInformation>

<div>
    <h1>Sorties en salle de la semaine</h1>
    @foreach (var movie in Model)
    {
        <div id="movie" style="border: 2px solid #F1F1F1; padding: 20px; width: 100%; height: 200px; margin: 10px 0px 10px 0px">
            <div style="float: left; width: 80%;">
                <span id="movie-title">@movie.Title</span><span class="nowrap"> de </span><span id="movie-director">@movie.Director</span>
                <p id="synopsis">@movie.Synopsis</p>
                <a href="@movie.Link">@movie.Title sur AlloCiné</a>
                <br />
            </div>
            <div style="float: right;width:15%">
                <img style="width: 115px;height: 160px" src="@movie.Picture"/>
            </div>
        </div>
    }
</div>
